:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius:10px;
    --button-border-radius: 20px;
}
* {
 
  box-sizing: border-box;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
html {
    font-size: 62.5%;
}



section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}




body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--primary-font);
    overflow-x: hidden;
}
.container {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.heroo
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    margin: 0 auto;
}

.page-title
{

    font-size: var(--section-title-font-size);
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.page-description
{
    font-size: var(--text-font-size);
    font-weight: 600;
    font-family: var(--third-font);
}



 /* ====end hero section====== */

/* ========search section====== */

.search-and-filter
{
    display: flex;
    justify-content: center;
    
}





.search-input
{
    width: 34rem;
    height: 3rem;
    border: 1px solid rgb(213, 204, 204);
    outline: none;
    border-radius: 7px;
    padding: 0 0.5rem 0 2.5rem;
    font-size: var(--text-font-size);
}

.select-input
{
    height: 3rem;
    border: 1px solid rgb(213, 204, 204);
    outline: none;
    border-radius: 7px;
    color: grey;
    padding: 0 0.1rem 0 2rem;
    font-size: var(--text-font-size);
    width: 10rem;
}


.container.flex-row {
    
     
    gap: 0.5rem;
    justify-content: center;   
    
}

.search-input:hover,
.select-input:hover {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(16, 115, 97, 0.3);
    transition: all 0.3s ease;
}

.filters
{
    display: flex;
    justify-content: center;
}


.search-input:focus,
.select-input:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px rgba(15, 89, 76, 0.4);
}

.search-box i {
  position: absolute;
  left: 0.8rem;
  color: grey;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
}

.filter i {
  position: absolute;
  left: 0.8rem;
  color: grey;
}

/* ===end search section====== */

/* =======announsements section============ */

.announcement-card {
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.announcement {
    padding: 10px;

}



.annnouncement_Date {
    font-family: var(--third-font);
    font-size: 1rem;
    padding-bottom: 1rem;
    color: rgb(66, 66, 66);
}

.announcement_title {
    font-family: var(--primary-font);
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 1rem;
    color: black;
}

.announcement_text_content {
    font-family: var(--third-font);
    font-size: 1.4rem;
    padding-top: 1rem;
    color: black;
}

.announcements {
    margin-top: 4rem;
    justify-content: center;
    
}

.announcement_action_link {
    color: black;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.3rem;

}

.announcement_actions.flex-row {
    justify-content: space-between;
}

.announcement_actions {
    margin-top: 10px;
}

.DonnateAnnouncement_action {
    background-color: var(--third-color);
    border-radius: 20px;
    padding: .8rem 1.6rem;
    transition: all .5s ease-in-out;
}

.read_moreAnnouncement_action {
    
    padding: .8rem 1.6rem;
    transition: all .5s ease-in-out;
}


.full-image {
    width: 100%;
    height: 90%;
    display: block;
}

.see_moreAnnouncements_btn {
    background-color: var(--third-color);
    border-radius: 20px;
    padding: .8rem 1.6rem;
    text-align: center;
    max-width: 14rem;
    margin: 2rem auto;
    transition: all .5s ease-in-out;
    margin-bottom: 10rem;
}

.see_moreAnnouncements_link {
    color: black;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.5rem;

}

.fa-square-plus {
    font-size: 2.2rem;
}

.see_moreAnnouncements_btn.flex-row {
    align-items: center;
}

/* animations */
.DonnateAnnouncement_action:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 223, 94, 0.948) 0px 0px 10px;
}

.see_moreAnnouncements_btn:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 223, 94, 0.948) 0px 0px 10px;
}

.read_moreAnnouncement_action:hover {
    transform: scale(1.05);
}








