.edit_container{
    display: flex;
    justify-content: center;
    padding: auto;
}
.edit_container form{
    width:80%;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 8px;
    
}
.edit_container h1{
    text-align: center;
    font-size: 2.5rem;
}

.edit_container input,textarea,label{
    text-align: center;
}
.edit_container label{
    font-size: 1.5rem;
    font-weight: bold ;
    color: rgb(1, 60, 1);
    padding: 5px;


}
.edit_container button{
    padding: 10px;
    width: 30%;
    margin: 10px 0;
    background-color: rgb(1, 60, 1);
    color: white;
    border-radius: 5px;
    
}
.save_button{
    display: flex;
    justify-content: center;

}