:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem; 
}
body{
    background-color: var(--background-color);
}
html{
    font-size: 62.5%;
  
}
body{
      font-family: var(--third-font);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
  all: unset;
  cursor: pointer;
}
input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
}
input,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-size: 1.2rem;
  text-align: center;
}
label{
    font-size: 1.4rem;
    font-family: var(--third-font);
}
.edit_container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
h2{
    font-size: 1.8rem;
}
.edit_title{
    font-size: 2.5rem;
    text-align: center;
    margin: 1em 0;
}
.edit-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 7px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 10px;
}

.tab_button{

padding: 10px;
border-radius: 8px;

display: flex;

justify-content: center;
}

.edit-tabs button {
   text-align: center;
   color: white;
   font-size: 1.2rem;
   font-weight: 500;
}

.edit_feild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin: 2em 0;
}
.edit_feild input{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.2rem;
}

.form-section {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  margin-bottom: 15px;
}
.about_feild{
    display: flex;
    align-items: center;
    margin: 2em 0;
}
.about_feild textarea{
    margin-left: 20px;
    min-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}
.program_edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
.program_edit input{
     width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1.5em 0;
}
.program_edit textarea{
     width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.2rem;
}
.img_feild{
    margin: 2em 0;
}
.img_feild label{
    font-size: 1.5rem;
    font-family: var(--third-font);
    font-weight: 400;
  
}
.img_feild input{
    margin-top: 1em;
  
}
.preview-img {
  display: block;
  margin-top: 10px;
  max-width: 250px;
  border-radius: 10px;
}

.preview-img.small {
  max-width: 120px;
}

.save_button {
  text-align: center;
  margin-top: 20px;
}

.save_button button {
  padding: 10px 20px;
  background: #107361;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
