footer{
    background-color: var(--secondary-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
    height: auto;
    width: 100%;
    padding: 30px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.donify{
 font-size: 20px;
}

.link{
    display: flex;
    gap: 40px;
}


.link a {
    position: relative;
    /* needed for ::after */
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.6rem;
    transition: 0.4s ease;
}

.link a::after {
    content: '';
    /*empty content*/
    position: absolute;
    background-color: var(--third-color);
    height: 2px;
    left: 0;
    bottom: -4px;
    /* distance from text */
    width: 0%;
    /* start hidden */
    transition: width 0.4s ease;
}

.link a:hover::after {
    width: 100%;
}

.link a:hover {
    color: var(--third-color);
}

.line{
    width: 100%;
    height: 1px;
    background-color: black;
}

.media{
    display: flex;
    justify-content: space-between;
}

.rights{
    font-size: var(--text-font-size);
}

.social_media{
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.social_media a{
    text-decoration: none;
    font-size: 20px;
    color: var(--background-color);
    transition: all 0.5s ease;
    padding: 10px; 
    border-radius: 50%;
}

#facebook:hover{
    color: blue;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px blue, 0 0 10px blue;
}

#instagram:hover{
    color: orangered;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px orangered, 0 0 10px orangered;
}

#linkedin:hover{
    color: blue;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px blue, 0 0 10px blue;
}

#email-icon:hover{
    color: orange;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px orange, 0 0 10px orange;
}

@media (max-width : 600px)
{
    footer {
        padding: 20px;
        height: auto; /* allow footer to expand */
        gap: 20px;
    }

    .links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .link {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .media {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .social_media {
        margin-right: 0;
        gap: 15px;
    }
}