:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius:10px;
    --button-border-radius: 20px;
}

html {
    font-size: 62.5%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 10;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* COLUMNS */
.col-2 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.col-10 {
    flex: 1 1 auto;
    padding: 0;
}

.logo{
    width: 80px;      
    height: auto;
    display: block;
    margin: 0 auto;  
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* NAV MENU */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINKS */
.nav-menu li:not(.btn) a {
    position: relative;
    /* needed for ::after */
    text-decoration: none;
    color: var(--background-color);
    font-size: var(--text-font-size);
    transition: 0.4s ease;
    font-size: 1.6rem;
}

.nav-menu li:not(.btn) a::after {
    content: '';
    /*empty content*/
    position: absolute;
    background-color: var(--third-color);
    height: 2px;
    left: 0;
    bottom: -4px;
    /* distance from text */
    width: 0%;
    /* start hidden */
    transition: width 0.4s ease;
}

.nav-menu li:not(.btn) a:hover::after {
    width: 100%;
}

.nav-menu a:hover {
    color: #cbc9c9;
}

/* BUTTONS */
.btn {
    padding: 8px 20px;
    background-color: var(--third-color);
    border-radius: 10px;
    transition: all 0.3s ease;
    transform-origin: center;
    /* scale from center */
}

.btn a {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    text-decoration: none;
    display: block;
    font-weight: 200px;
}

.btn:hover {
    background-color: #e6c259;
    transform: scale(1.05);
}

.btn:hover a {
    color: #0A3F36;
    /* darker green for example */
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 3.4rem;
    color: var(--background-color);
    cursor: pointer;
}



@media(max-width: 600px) {
     .hamburger {
        display: block;
        font-size: 3.4rem;
        cursor: pointer;
        color: white;
        position: relative;
        z-index: 1001; /*keep it above everything*/
        margin-right: 20px;
    }

    /* Mobile menu */
    .nav-menu {
        position: fixed;
        top: 0;
        right: -270px; /*hidden*/
        width: 270px;
        height: 100vh;
        background: rgba(16, 115, 97, 0.55);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 70px 30px;
        gap: 25px;
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        transition: right 0.4s ease;
        z-index: 1000;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-menu li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 10px;
    }

    .nav-menu a {
        color: #fff;
        font-weight: 600;
        font-size: 2rem;
        text-decoration: none;
        display: block;
        width: 100%;
        transition: color 0.3s;
    }

    .nav-menu a:hover {
        color: var(--third-color);
    }

    .nav-menu .btn a {
        background: none;
        color: #fff;
        font-weight: 500;
        padding: 0;
        text-align: left;
        text-align: center;
        font-size: 1.8rem;
    }

    .nav-menu .btn a:hover {
        color: var(--third-color);
    }
}