.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modal_title{
    font-family: var(--primary-font);
        font-size: 1.8rem;
        font-weight: 600;
        padding-top: 1rem;
        color: black;
}
.modal_date {
    font-family: var(--third-font);
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: rgb(66, 66, 66);
}
.modal_text {
    font-family: var(--third-font);
    font-size: 1.6rem;
    padding-top: 1rem;
    color: black;
    margin-bottom: 1rem;
}

.modal_container {
    background: white;
    padding: 5rem;
    width: 60%;
    max-height: 80%;
    border-radius: 14px;
    overflow-y: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.modal_image {
    width: 100%;
    
    border-radius: 10px;
}




.modal_close_btn{
    background-color: var(--third-color);
    border-radius: 20px;
    border: none;
    padding: .8rem 1.6rem;
    
    transition: all .5s ease-in-out;
}

.modal_donate_btn.a,
.modal_close_btn.a{
    color: black;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 1.3rem;
}
        