:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
}

body {
    background-color: var(--background-color);
}

html {
    font-size: 62.5%;

}

img {
    display: block;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-row-org {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*------------------------------------------My part------------------------------------------------------*/
.Add_org {
    background-color: var(--third-color);
    padding: 5px;
    border-radius: 5px;
    margin: 1em 4em;
    font-size: 1rem;
    font-weight: bold;
}

.add_org_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title h1 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--primary-color);
}

.subtitle {
    font-size: var(--text-font-size);
    text-align: center;
    font-family: var(--third-font);
    font-weight: normal;
}

.title {
    margin-bottom: 2em;
    margin-top: 3em;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 2%;
    max-width: 1200px;
    margin-top: 2em;
}


.search-by-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 0.1em;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);


}

#searchInput {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    appearance: none;


}

.search-filter {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.catego {
    padding: 0.6em;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
    position: relative;


}

.filter-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0.6em;
}

.filter-title {
    font-size: 1.5rem;
    font-family: var(--third-font);
}

.options-active {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
    width: fit-content;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #aeaeae91;
    border-radius: 5px;


}

.options-not-active {
    display: none;
}

.option {
    display: flex;
    align-items: center;
}

.option label {
    font-size: 1.5rem;
    font-family: var(--third-font);
}

.options p {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--third-font);
}

.catego select {
    border: none;
    appearance: none;

}


.card-container {
    max-width: 450px;
}

.card {
    background-color: white;
    margin: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 16px 5px rgba(64, 64, 64, 0.16);
    box-shadow: 5px 5px 16px 5px rgba(64, 64, 64, 0.16);
    transition: all .5s ease-in-out;

}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* limits to 3 lines */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.image_card {
    width: 100%;

    display: block;

    height: 200px;
    object-fit: cover;
}

.card {
    padding: 2em;

}

.card:hover {

    transform: scale(1.03);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.cardContent h4 {
    padding-top: .5rem;
    font-size: 1.8rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.cardContent p {
    padding-top: .5rem;
    font-size: 1.6rem;
    text-align: left;
    font-family: var(--third-font);
}
.handall_loading{
    text-align: center;
    margin: 15%;
}
.learn-more {
    margin-top: 0em;
    padding: 0.8em 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.search_by_org_name input {
    width: 100%;
    max-width: 40rem;
    padding: 0.5rem;
}


.learn-more a {
    font-size: 1.4rem;
    text-decoration-line: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 8px;

}

.learn-more a:hover {
    color: var(--primary-color)
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--third-color);
    padding: 1em;
    border-radius: 10px;
    margin: 4em;
}


.containerButton {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button-container button {
    border: none;
    background: none;
    font-size: 2rem;
    transform: scale(1.05);
    font-weight: 500;
    font-family: var(--third-font);
}

.button-container img {
    width: 50%;
    padding: 0;
    margin: 0;
}

.button-container:hover {
    transform: scale(1.05);
    background-color: #e6c259;
    color: #0A3F36;
}

.noMore p {
    padding-top: 2em;
    text-align: center;
    margin: auto;
    color: #4f4f4f;
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-style: italic;
}

.search_org.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}


.search_by_org_name input {
    width: 40rem;
    padding: 0.7rem;
    border-radius: 1rem;
    border-color: #c0b9b9;
}

.search_by_wilaya input {
    width: 15rem;
    padding: 0.7rem;
    border-radius: 1rem;
    border-color: #c0b9b9;
}

.filter_org_category select {
    width: 15rem;
    padding: 0.7rem;
    border-radius: 1rem;
    border-color: #c0b9b9;
}

.search_by_wilaya {
    position: relative;
}

.wilaya-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    z-index: 10;
}

.wilaya-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
}

.wilaya-dropdown li:hover {
    background-color: #f0f0f0;
}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background: #f0f0f0;
}

/* =====================================Classes ========================================= */

@media (min-width: 1200px) {

    .col-xl-1 {
        width: calc(100% / 12);
    }

    .col-xl-2 {
        width: calc(100% / 6);
    }

    .col-xl-3 {
        width: calc(100% / 4);
    }

    .col-xl-4 {
        width: calc(100% / 3);
    }

    .col-xl-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xl-6 {
        width: calc(100% / 2);
    }

    .col-xl-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xl-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xl-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xl-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xl-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-2-5 {
        width: calc((5/2)*100% / 12);
    }

}




/* Large (lg) screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-lg-1 {
        width: calc(100% / 12);
    }

    .col-lg-2 {
        width: calc(100% / 6);
    }

    .col-lg-3 {
        width: calc(100% / 4);
    }

    .col-lg-4 {
        width: calc(100% / 3);
    }

    .col-lg-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-lg-6 {
        width: calc(100% / 2);
    }

    .col-lg-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-lg-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-lg-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-lg-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-lg-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-2-5 {
        width: calc((5/2)*100% / 12);
    }


}

/* Medium (md) screens (768px to 991px) */
@media (min-width: 767px) and (max-width: 991px) {
    .col-md-1 {
        width: calc(100% / 12);
    }

    .col-md-2 {
        width: calc(100% / 6);
    }

    .col-md-3 {
        width: calc(100% / 4);
    }

    .col-md-4 {
        width: calc(100% / 3);
    }

    .col-md-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-md-6 {
        width: calc(100% / 2);
    }

    .col-md-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-md-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-md-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-md-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-md-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-md-12 {
        width: 100%;
    }

    html {
        font-size: 50%;
    }

    .search_by_org_name input {
        width: 100%;
        max-width: 40rem;
        padding: 0.5rem;
    }

    .search_by_wilaya input,
    .filter_org_category select {
        width: 15rem;
        padding: 0.5rem;
    }

}

/* Small (sm) screens (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-1 {
        width: calc(100% / 12);
    }

    .col-sm-2 {
        width: calc(100% / 6);
    }

    .col-sm-3 {
        width: calc(100% / 4);
    }

    .col-sm-4 {
        width: calc(100% / 3);
    }

    .col-sm-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-sm-6 {
        width: calc(100% / 2);
    }

    .col-sm-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-sm-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-sm-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-sm-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-sm-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-sm-12 {
        width: 100%;
    }



    html {
        font-size: 45%;
    }

    .flex-row-org {
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .search_by_org_name input {
        width: 100%;
        max-width: 40rem;
        padding: 0.5rem;
    }

    .search_by_wilaya input,
    .filter_org_category select {
        width: 15rem;
        padding: 0.5rem;
    }

}

@media (min-width: 991px) and (max-width: 1279px) {
    .search_by_org_name input {
        width: 100%;
        max-width: 600px;
    }
}

/* Extra Small (xs) screens (464px to 575px) */
@media (min-width: 464px) and (max-width: 575px) {
    .col-xs-1 {
        width: calc(100% / 12);
    }

    .col-xs-2 {
        width: calc(100% / 6);
    }

    .col-xs-3 {
        width: calc(100% / 4);
    }

    .col-xs-4 {
        width: calc(100% / 3);
    }

    .col-xs-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xs-6 {
        width: calc(100% / 2);
    }

    .col-xs-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xs-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xs-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xs-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xs-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xs-12 {
        width: 100%;
    }

    html {
        font-size: 50%;
    }

    .flex-row-org {
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .search_by_wilaya input {
        width: 26rem;
        padding: 0.4rem;
    }

    .filter_org_category select {
        width: 26rem;
        padding: 0.4rem;
    }

    .search_by_org_name input {
        width: 100%;
        max-width: 40rem;
        padding: 0.5rem;
    }

    .search_by_wilaya input,
    .filter_org_category select {
        width: 15rem;
        padding: 0.5rem;
    }

}

/* Extra Extra Small (xxs) screens (0px to 463px) */
@media (min-width: 0px) and (max-width: 463px) {


    .col-xxs-1 {
        width: calc(100% / 12);
    }

    .col-xxs-2 {
        width: calc(100% / 6);
    }

    .col-xxs-3 {
        width: calc(100% / 4);
    }

    .col-xxs-4 {
        width: calc(100% / 3);
    }

    .col-xxs-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xxs-6 {
        width: calc(100% / 2);
    }

    .col-xxs-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xxs-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xxs-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xxs-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xxs-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xxs-12 {
        width: 100%;
    }


    html {
        font-size: 40%;
    }

    .flex-row-org {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .search_by_org_name input {
        width: 100%;
        max-width: 30rem;
        padding: 0.3rem;
    }

    .search_by_wilaya input,
    .filter_org_category select {
        width: 15rem;
        padding: 0.3rem;
    }

}