

:root {
  --primary-font: "Poppins";
  --secondary-font: "Montserrat", sans-serif;
  --third-font: "Lato";
  --primary-color: #107361;
  --secondary-color: #0F594C;
  --third-color: #FEDA79;
  --background-color: #F2F2F2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
}



.hero
{
    color: black;
    text-align: center;
    padding: 70px 20px;

}

.hero h1
{
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

/* hero section ends here */

/* search and filter section */

.search-filters
{
    text-align: center;
    padding: 40px 20px;
}

.search-box
{
    display:flex;
    flex-wrap: wrap;/* allows me to move on smaller screen */
    justify-content: center;
    gap: 10px;
}

.search-input
{
    width: 400px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none; 
    /* remove lines that appear when we click */
}

.filter-select
{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 0.8rem;
    cursor: pointer;
    outline: none;
}

/* search and filter section end here */

/* announcements section strats here */

.announcements
{
    justify-content: center;
}

.cards
{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.card
{
    width: 250px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;

}
.card img {
  width: 100%;
  height: 40%;
  object-fit: cover;    

}

.card-post
{
  font-family: var(--third-font);
  font-size: 0.95rem;
  color:black;
}
 .card-btns
 {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

 }

 .donate-btn
{
    
    font-family: var(--secondary-font);
    border-radius: 3rem;
    width: 6rem;
    height:1.5rem;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.5s;
    

}

.read-btn
{
    background-color: var(--primary-color);
    color: white;
    font-family: var(--secondary-font);
    border-radius: 3rem;
    width: 6rem;
    height:1.5rem;
    border: none;
    transition: all 0.5s;

}

.read-btn:hover
{
    transform: translateY(-0.2rem);
    
}
.read-btn:active
{
    color: var(--third-color);
}

.donate-btn:hover
{
    transform: translateY(-0.2rem);
}

.donate-btn:active
{
    color: var(--third-color);
}


.title
{
  display: flex;
  justify-content: space-between;
}
.region
{
    font-size: 0.7rem;
    color:#8b8181
}

.category
{
    font-size: 0.7rem;
    color:#8b8181
}

.card h1
{
    font-size: 1.3rem;
    font-family: var(--secondary-font);
    margin-left: 6px;
}

.card p
{
    padding: 10px 10px;
}

/* announcment list ends here */

/* see more results section starts here */

.show-more
{
    justify-content: center;
    display: flex;
    padding: 3rem 3rem;
    
}

.show-more-btn
{
    width: 10%;
    height: 3rem;
    color: black;
    justify-content: center;

    background-color: var(--third-color);
    border: none;
    border-radius: 6rem;
    transition: all 0.5s;
}



.show-more-btn:active {
  transform: scale(0.95);
}






