:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 10;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* COLUMNS */
.col-2 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.col-10 {
    flex: 1 1 auto;
    padding: 0;
}

/* LOGO */
.logo {
    background-color: var(--background-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* NAV MENU */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINKS */
.nav-menu li:not(.btn) a {
    position: relative;
    /* needed for ::after */
    text-decoration: none;
    color: var(--background-color);
    font-size: 16px;
    transition: 0.4s ease;
}

.nav-menu li:not(.btn) a::after {
    content: '';
    /*empty content*/
    position: absolute;
    background-color: var(--third-color);
    height: 2px;
    left: 0;
    bottom: -4px;
    /* distance from text */
    width: 0%;
    /* start hidden */
    transition: width 0.4s ease;
}

.nav-menu li:not(.btn) a:hover::after {
    width: 100%;
}

.nav-menu a:hover {
    color: #cbc9c9;
}

/* BUTTONS */
.btn {
    padding: 8px 20px;
    background-color: var(--third-color);
    border-radius: 10px;
    transition: all 0.3s ease;
    transform-origin: center;
    /* scale from center */
}

.btn a {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    display: block;
}

.btn:hover {
    background-color: #e6c259;
    transform: scale(1.05);
}

.btn:hover a {
    color: #0A3F36;
    /* darker green for example */
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 34px;
    color: var(--background-color);
    cursor: pointer;
}


/*-------hero----------*/
.hero {
    background: url(background_img.png) center/cover no-repeat;
    height: 500px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    position: relative;
    /* important for overlay */
    overflow: hidden;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 154, 141, 0.4);
    /*color + opacity*/
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-family: var(--primary-font);
    font-size: 52px;
    margin-bottom: 16px;
}

.hero-content p {
    max-width: 600px;
    font-size: 26px;
    margin: 0 auto 24px;
    font-family: var(--third-font);
}

.hero-buttons {
    display: flex;
    gap: 66px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 14px;
}



/*--------------difference---------------*/
.difference {
    margin-top: 50px;
}

.difference h1 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    text-align: center;
    margin-bottom: 16px;
    font-size: 38px;
}

.difference .paragraph {
    text-align: center;
    color: #373737;
    font-family: var(--third-font);
    margin-bottom: 30px;
    max-width: 600px;
    font-size: 26px;
    margin: 0 auto 32px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    max-width: 1000px;
    margin: 0 auto;
    /*centers the grid container horizontally on the page (because left and right margins are set to auto*/
}

.card {
    background-color: var(--background-color);
    padding: 24px;
    min-height: 150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(80, 154, 141, 0.5);
}

.card h3 {
    font-family: var(--primary-font);
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}



/*------------Core Values-----------*/
.values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.core-values h2 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 16px;
    font-size: 40px;
    margin-top: 90px;
}

.core-values p {
    font-family: var(--third-font);
    text-align: center;
    color: #373737;
    margin-bottom: 30px;
    max-width: 800px;
    font-size: 22px;
    margin: 0 auto 32px;
}

.value {
    box-shadow: 5px 5px 5px 5px rgba(80, 154, 141, 0.5);
    border-radius: 10px;
    text-align: center;
}

.value h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--secondary-color)
}

.value p {
    font-family: var(--third-font);
    font-size: 18px;
    text-align: center;
    max-width: 200px;
}

/************/
.join {
    width: 100%;
    height: 200px;
    padding-top: 20px;
    background-color: var(--primary-color);
    margin-top: 60px;
}

.join h1 {
    color: var(--background-color);
    font-family: var(--secondary-font);
    text-align: center;
}

.join p {
    color: var(--background-color);
    font-family: var(--third-font);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.join .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register_btn {
    background-color: var(--third-color);
    font-family: var(--secondary-font);
    border-radius: 10px;
    border: 2px solid #e6c259;
    padding: 8px 20px;
    transition: all 0.3s ease;
    color: var(--secondary-color);
}

.register_btn:hover {
    transform: scale(1.05);
    background-color: #e6c259;
    color: #0A3F36;
}


.btns a {
    text-decoration: none;
}

.contact_btn {
    background-color: var(--primary-color);
    color: var(--third-color);
    font-family: var(--third-color);
    border: 2px solid var(--third-color);
    border-radius: 10px;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.contact_btn:hover {
    transform: scale(1.05);
    background-color: var(--third-color);
    color: var(--secondary-color);
}



/* MEDIA QUERY - MOBILE */
@media(max-width: 600px) {
    .hamburger {
        display: block;
        margin-right: 30px;
    }

    /* Mobile menu */
    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 15px;
        background-color: var(--primary-color);
        width: 220px;
        padding: 20px;
        border-radius: 15px;
        gap: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

        opacity: 0;
        transform: translateY(-20px) scale(0.95);
        pointer-events: none;
        transition: all 0.4s ease-in-out;
    }

    .nav-menu.active {
        opacity: 1;
        transform: translateY(0) scale(1);
        pointer-events: auto;
    }

    .nav-menu::after {
        bottom: -2px;
    }

    .nav-menu li:hover {
        transform: translateX(5px);
    }

    .nav-menu a {
        font-size: 18px;
        padding: 8px 12px;
        display: block;
    }

    .nav-menu .btn {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 4px 8px;
    }

    .nav-menu .btn a {
        color: var(--secondary-color);
    }


    /*------hero---------*/
    .hero {
        height: auto;
        padding: 80px 20px;
    }

    .hero-content h1 {
        font-size: 34px;
    }

    .hero-content p {
        font-size: 18px;
    }

    /*-------------join----*/
    .join{
        height: auto;
        padding: 20px 20px;
    }
}