* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.fluid_container {
    width: 100%;

}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.full_image {
    width: 100%;
    height: 100%;
    display: block;
}

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius: 10px;
    --button-border-radius: 20px;
}


/* ==========================================header===================================== */
.admin_header_content {
    background-color: var(--secondary-color);
    height: 8rem;

}

.admin_header_content.flex-row {
    flex-direction: column;
    justify-content: space-between;
}

.flex-row.admin-info {
    justify-content: flex-end;
    align-items: center;


}

.admin-info {
    padding-top: 1rem;

    padding-bottom: 2rem;
}

.admin_username {
    text-align: center;
}

/* .admin_dashboard {
    position: fixed;
} */

.admin_profile_image {
    justify-content: center;
}

.admin_profile_img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.website_logo_img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.admin_header_content.flex-row {
    align-items: center;
    justify-content: flex-end;
}


.admin_username h2 {
    color: white;
    font-family: var(--primary-font);
    font-size: 1.6rem;
}

.admin_username {
    text-align: center;
}



/* ===================sidebar =============================== */
.website_info.flex-row {
    align-items: center;
    justify-content: space-around;

}


.website_info {
    padding-top: 2rem;
    height: 10vh;

}

.bash_sidebar {
    background-color: var(--primary-color);
    height: 100%;
}

.bash_sidebar.flex-row {
    flex-direction: column;
    justify-content: space-evenly;
}

.admin_header_content.flex-row {
    flex-direction: column;
}

.sidebar_elements.flex-row {
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_element.flex-row {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

}

.sidebar_element {
    height: 20%;
    padding: 2rem;
    padding-left: 4rem;

}

.sidebar_elements {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 90vh;

}

.sidebar_element p {
    font-size: 1.4rem;
    color: white;
    font-family: var(--secondary-font);
    transition: all .6s ease-in-out;
}

.sidebar_element i {
    color: white;
    font-size: 2.3rem;
    transition: all .6s ease-in-out;
}

.sidebar_element.selected {
    background-color: var(--secondary-color);
}

.sidebar_element.selected p,
.sidebar_element.selected i {
    color: var(--third-color);
}

.dash_humburger i {
    color: white;
    left: 10px;
    font-size: 2.5rem;
    padding-left: 2rem;
}

/* ============== Animation ================= */
.sidebar_element:hover p {
    transform: scale(1.05);
    color: var(--third-color);
    font-weight: 600;

}

.sidebar_element:hover i {
    color: var(--third-color);
}

/* ================================================== statistics ======================================================== */
/* .dash_container {
    padding-top: 13rem;
    padding-left: 33rem;
    padding-right: 11rem;
} */



.statistic_card.flex-row {
    flex-direction: column;
    justify-content: space-between;
}

.statistic {
    padding: 2rem 2rem;
}

.statistic_details.flex-row {
    align-items: center;
    justify-content: space-around;
}

.flex-row.statistic_numbers {
    flex-direction: column;
}

.statistic_value {
    font-family: var(--third-font);
    color: black;
    font-size: 1.9rem;
    font-weight: 1000;
    padding: 0;
    margin: 0;
}

.stat_duration {
    font-family: var(--third-font);
    color: rgb(89, 88, 88);
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;

}

.statistic_details {
    background-color: white;
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: var(--button-border-radius);
}

.statistic_name p {
    font-family: var(--secondary-font);
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.flex-row.statistic_numbers {
    flex-direction: column;
    justify-content: center;
}

.statistic_numbers {
    margin-right: 1rem;
}

.statistic_details i {
    text-align: center;
    color: var(--third-color);
    font-size: 3.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}



/* ===============================progress bar ========================= */
.circular-progress {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
    background: conic-gradient(var(--primary-color) calc(80 * 3.6deg),
            /* 80% progress */
            #e0e0e0 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Inner empty (white) circle */
.inner-circle {
    width: 85%;
    height: 85%;
    background-color: #fff;
    /* makes the center empty */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #535252;
}

.circular-progress .value {
    position: absolute;
    font-size: 1.5rem;
}

/* ========================end progress bar ================ */

.statistic_details {
    transition: all .8s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ============= Animations ============= */
.statistic_details:hover {
    transform: scale(1.04);
}



/* =====================================Classes ========================================= */

@media (min-width: 1200px) {
    .col-xl-1 {
        width: calc(100% / 12);
    }

    .col-xl-2 {
        width: calc(100% / 6);
    }

    .col-xl-3 {
        width: calc(100% / 4);
    }

    .col-xl-4 {
        width: calc(100% / 3);
    }

    .col-xl-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xl-6 {
        width: calc(100% / 2);
    }

    .col-xl-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xl-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xl-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xl-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xl-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-2-5 {
        width: calc((5/2)*100% / 12);
    }

    .d_none_xl {
        display: none;
    }



    .statistic_details {

        padding: .5rem 1rem;

    }
}



/* Large (lg) screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-lg-1 {
        width: calc(100% / 12);
    }

    .col-lg-2 {
        width: calc(100% / 6);
    }

    .col-lg-2-5 {
        width: calc(2.5*100% / 12);
    }

    .col-lg-3 {
        width: calc(100% / 4);
    }

    .col-lg-4 {
        width: calc(100% / 3);
    }

    .col-lg-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-lg-6 {
        width: calc(100% / 2);
    }

    .col-lg-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-lg-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-lg-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-lg-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-lg-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-2-5 {
        width: calc((5/2)*100% / 12);
    }

    .d_none_lg {
        display: none;
    }

    .col-lg-9-5 {
        width: calc(9.5*100% / 12);
    }



    .statistic_details {

        padding: .5rem 1rem;

    }
}

/* Medium (md) screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        width: calc(100% / 12);
    }

    .col-md-2 {
        width: calc(100% / 6);
    }

    .col-md-2-5 {
        width: calc(2.5*100% / 12);
    }

    .col-md-3 {
        width: calc(100% / 4);
    }

    .col-md-4 {
        width: calc(100% / 3);
    }

    .col-md-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-md-6 {
        width: calc(100% / 2);
    }

    .col-md-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-md-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-md-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-md-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-md-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-9-5 {
        width: calc(9.5*100% / 12);
    }


    html {
        font-size: 10px;
    }

    .d_none_md {
        display: none;
    }


    .statistic_details {

        padding: .5rem 1rem;

    }

    .circular-progress {
        width: 7rem;
        height: 7rem;
    }


}

/* Small (sm) screens (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-1 {
        width: calc(100% / 12);
    }

    .col-sm-2 {
        width: calc(100% / 6);
    }

    .col-sm-3 {
        width: calc(100% / 4);
    }

    .col-sm-4 {
        width: calc(100% / 3);
    }

    .col-sm-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-sm-6 {
        width: calc(100% / 2);
    }

    .col-sm-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-sm-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-sm-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-sm-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-sm-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-sm-12 {
        width: 100%;
    }

    .statistic {
        padding: 2rem 4rem;
    }


    html {
        font-size: 9px;
    }

    .d_none_sm {
        display: none;
    }


    .statistic_details {

        padding: .5rem 1rem;

    }

    .circular-progress {
        width: 7rem;
        height: 7rem;
    }
}

/* Extra Small (xs) screens (464px to 575px) */
@media (min-width: 464px) and (max-width: 575px) {
    .col-xs-1 {
        width: calc(100% / 12);
    }

    .col-xs-2 {
        width: calc(100% / 6);
    }

    .col-xs-3 {
        width: calc(100% / 4);
    }

    .col-xs-4 {
        width: calc(100% / 3);
    }

    .col-xs-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xs-6 {
        width: calc(100% / 2);
    }

    .col-xs-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xs-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xs-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xs-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xs-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xs-12 {
        width: 100%;
    }

    html {
        font-size: 9px;
    }

    .d_none_xs {
        display: none;
    }



    .statistic_details {

        padding: .5rem 1rem;

    }

    .circular-progress {
        width: 7rem;
        height: 7rem;
    }
}

/* Extra Extra Small (xxs) screens (0px to 463px) */
@media (min-width: 0px) and (max-width: 463px) {


    .col-xxs-1 {
        width: calc(100% / 12);
    }

    .col-xxs-2 {
        width: calc(100% / 6);
    }

    .col-xxs-3 {
        width: calc(100% / 4);
    }

    .col-xxs-4 {
        width: calc(100% / 3);
    }

    .col-xxs-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-xxs-6 {
        width: calc(100% / 2);
    }

    .col-xxs-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-xxs-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-xxs-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-xxs-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-xxs-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-xxs-12 {
        width: 100%;
    }

    html {
        font-size: 7px;
    }

    .d_none_xxs {
        display: none;
    }

    .statistic_details {

        padding: .5rem 1rem;

    }

    .admin_profile_img {
        width: 5rem;
        height: 5rem;
    }

    .statistic {
        padding: 2rem 4rem;
    }

    .circular-progress {
        width: 8rem;
        height: 8rem;
    }
}