:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color:#F2F2F2 ;
}
body{
    background-color: var(--background-color);
}
html{
    font-size: 62.5%;
    
}
img{
    display: block;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*------------------------------------------My part------------------------------------------------------*/
h1{
    font-size: 4rem;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: bolder;
}
.subtitle{
    font-size: 2rem; 
    text-align: center;
    font-family: var(--third-font);
    font-weight: normal;
}
.title{
    margin-bottom: 4em;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 500px;
    max-width: 1200px;
   
}
.search-bar-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.search-by-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 8px;
    min-width: 300px;
    padding: 0.1em; 
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
 
}
 #serchInput{
 border: none;           
  outline: none;          
  background: none;       
  box-shadow: none;       
  border-radius: 0; 
  min-width: 300px;
 }
.search-filter{
    display: flex;
    justify-content: space-between;
    
}
 .catego{
    padding: 0.8em;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
    

 }
 .catego select{
    border: none;
    appearance: none;

 }

 .region{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
    padding: 0.8em;
    background-color: white;
    display: flex;
    justify-content: flex-start;
   
    border-radius: 8px;
    margin: 0 1em;

 }
 .region select{
    border: none;
    appearance: none;

 }

 .card-container{
    max-width: 450px;
 }
 .card{
    background-color: white;
    margin: 1em;
    border-radius: 4px;
-webkit-box-shadow: 5px 5px 16px 5px rgba(64,64,64,0.16); 
box-shadow: 5px 5px 16px 5px rgba(64,64,64,0.16);

 }
 .image_card{
    width: 100%;
 }
 .card{
    padding: 2em;
 }

 .container{
    max-width: 1200px;
    margin: auto;
 }
 h4{
    font-size: 2rem;
    font-family: var(--primary-font);
 }
 
p{
    font-size: 1.6rem;
    text-align:left;
    font-family: var(--third-font);
}
.learn-more{
    margin-top: 2em;
    padding: 0.8em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--third-color);
    max-width: 10em;
    border-radius: 8px;
}
.learn-more a{
    font-size: 1.5rem;
    text-decoration-line: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

 
 @media (min-width: 1000px) {
    .col-lg-1 {
        width: calc(100% / 12);
    }

    .col-lg-2 {
        width: calc(100% / 6);
    }

    .col-lg-3 {
        width: calc(100% / 4);
    }

    .col-lg-4 {
        width: calc(100% / 3);
    }

    .col-lg-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-lg-6 {
        width: calc(100% / 2);
    }

    .col-lg-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-lg-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-lg-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-lg-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-lg-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-lg-12 {
        width: 100%;
    }

}

@media (max-width: 600px) {
    html{
        font-size: 40%;
    }
    .col-sm-1 {
        width: calc(100% / 12);
    }

    .col-sm-2 {
        width: calc(100% / 6);
    }

    .col-sm-3 {
        width: calc(100% / 4);
    }

    .col-sm-4 {
        width: calc(100% / 3);
    }

    .col-sm-5 {
        width: calc((5 * 100%) / 12);
    }

    .col-sm-6 {
        width: calc(100% / 2);
    }

    .col-sm-7 {
        width: calc((7 * 100%) / 12);
    }

    .col-sm-8 {
        width: calc((8 * 100%) / 12);
    }

    .col-sm-9 {
        width: calc((9 * 100%) / 12);
    }

    .col-sm-10 {
        width: calc((10 * 100%) / 12);
    }

    .col-sm-11 {
        width: calc((11 * 100%) / 12);
    }

    .col-sm-12 {
        width: 100%;
    }

}

