* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.fluid_container {
    width: 100%;
}

.container {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.full_image {
    width: 100%;
    height: 100%;
    display: block;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
}