:root {
    --color-primary: #0E594C;
    --color-secondary: #FEDA79;
    --color-bg: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    width: 100%;
    background-color: var(--color-primary);
}

body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* COLUMNS */
.col-2 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.col-10 {
    flex: 1 1 auto;
    padding: 0;
}

/* LOGO */
.logo {
    background-color: var(--color-bg);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* NAV MENU */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINKS */
.nav-menu li:not(.btn) a{
    position: relative;  /* needed for ::after */
    text-decoration: none;
    color: var(--color-bg);
    font-size: 16px;
    transition: 0.4s ease;
}

.nav-menu li:not(.btn) a::after{
    content: ''; /*empty content*/
    position: absolute;
    background-color: var(--color-secondary);
    height: 2px;
    left: 0;
    bottom: -4px; /* distance from text */
    width: 0%;  /* start hidden */
    transition: width 0.4s ease;
}

.nav-menu li:not(.btn) a:hover::after
{
    width: 100%;
}

.nav-menu a:hover {
    color: #cbc9c9;
}

/* BUTTONS */
.btn {
    padding: 8px 20px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    transition: all 0.3s ease;
    transform-origin: center; /* scale from center */
}

.btn a {
    color: var(--color-primary);
    text-decoration: none;
    display: block;
}

.btn:hover {
    background-color: #e6c259;
     transform: scale(1.05);
}

.btn:hover a {
    color: #0A3F36; /* darker green for example */
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 34px;
    color: var(--color-bg);
    cursor: pointer;
}

/* MEDIA QUERY - MOBILE */
@media(max-width: 650px) {
    .hamburger {
        display: block;
        margin-right: 30px;
    }

    /* Mobile menu */
    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 15px;
        background-color: var(--color-primary);
        width: 220px;
        padding: 20px;
        border-radius: 15px;
        gap: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

        opacity: 0;
        transform: translateY(-20px) scale(0.95);
        pointer-events: none;
        transition: all 0.4s ease-in-out;
    }

    .nav-menu.active {
        opacity: 1;
        transform: translateY(0) scale(1);
        pointer-events: auto;
    }

    .nav-menu::after{
        bottom: -2px;
    }

    .nav-menu li:hover {
        transform: translateX(5px);
    }

    .nav-menu a {
        font-size: 18px;
        padding: 8px 12px;
        display: block;
    }

    .nav-menu .btn {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 4px 8px;
    }

    .nav-menu .btn a {
        color: var(--color-primary);
    }
}
