* {
    box-sizing: border-box;
}
:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #066A68;
    --secondary-color: #034645;
    --soft-green: #CCFDEA;
    --third-color: #FEDA79;
    --fifth-color: #F0F1EC;
    --soft-yellow: #FFF1CB;
    --fourth-color: #9A8254;
    --background-color: #F2F2F2;
    --gray-color: #545252;
    ;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius: 10px;
    --button-border-radius: 20px;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--fifth-color);
}
.dash_org_content{
    
    width: 100%;
}
.dashOrgTable{
    border: solid rgba(48, 48, 48, 0.192) 1px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.org_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
   background-color: var(--primary-color);
    border-radius: 5px;
    width: 80px;
    padding: 8px;
}
.img p{
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: var(--text-font-size);
    font-family: var(--third-font);
}
.org_name{
    font-size: var(--text-font-size);
    font-family: var(--third-font);
    font-weight: 400;
}
.org_link_prof{
     font-size: 10px;
    font-family: var(--third-font);
    color: #6e6d6dcc;
}
.org_category{
    font-size: var(--text-font-size);
    font-family: var(--third-font);
    font-weight: 400;
    background-color: rgb(148, 250, 148);
    border-radius: 8px;
    padding: 5px 8px;
   
}
.org_wilaya{
  font-size: var(--text-font-size);
  font-family: var(--third-font);
  font-weight: 400;
  background-color: rgb(148, 250, 148);
  border-radius: 8px;
  padding: 5px 8px;
  
}
.orgDashTitle h1{
    font-size: 2rem;
    font-family: var(--primary-font);
    margin-bottom: 5px;
}
.rej_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid  #6e6d6d8c 0.8px;
    padding: 5px 5px;
}
.rej_title_cont p{
    font-size: 1.5rem;
    font-family: var(--third-font);
    color: #6e6d6dcc;
}
.org_card{
    padding: 10px 5px;
    border-bottom: solid  #6e6d6d8c 0.8px
}
.rej{
    font-family: var(--third-font);
    font-size: 1.5rem;
}

.accept{
    margin-bottom: 2em;
}
.card_con{
    font-family: var(--third-font);
    font-size: 1.5rem;
}
.amount{
    color: #6e6d6dcc;
}
.con2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}