:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius:10px;
    --button-border-radius: 20px;
}
* {
 
  box-sizing: border-box;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--background-color);
}
.messages-container
{
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    font-family: var(--primary-font);
    border-radius: var(--card-border-radius);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.messages-container h1
{
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.message-card
{
    width:100%;
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    

}

.message-header
{
    width: 100%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    font-size: 12px;
    font-weight: 400;
}

i
{
    margin-right: 0.5rem ;
}

.message-body
{
    background-color: white;
    padding: 1rem;
}

.message-content
{
    font-size: 15px;
    font-family: var(--third-font);
    margin-bottom: 2rem;
}

.line
{
    width: 100%;
    height: 0.1px;
    background-color: rgb(209, 189, 189);
    margin-bottom: 1rem;
}

.message-settings
{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

.message-btn
{
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    border-radius: var(--card-border-radius);
}

.read-message
{
    color: white;
    background-color: var(--primary-color);
}

.delete-message
{
    color: black;
    background-color: var(--third-color);
}

