:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #107361;
    --secondary-color: #0F594C;
    --third-color: #FEDA79;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem; 
}
body{
    background-color: var(--background-color);
}
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaigns-container
{
    padding: 3rem;
}

.search-campaigns
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 2rem 1rem;
    
}

.search , .filter 
{
    background-color: white;
    text-align: left;
    padding: 1rem ;
    height: 3rem;
    width: 20%;
    border: 1px solid wheat;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.select-bar
{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

.campaigns-title
{
    padding: 1rem 0;
}

.campaigns-title h1
{
    color: var(--secondary-color);
    font-size: var(--subtitle-font-size);
    font-family: var(--primary-font);
    margin-bottom: 2rem;
}

.campaign-header 
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 2rem;
    text-align:right;
    color: grey;
    font-family: var(--primary-font);

}

.campaign-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    background-color: white;
    border-radius: 10px;
    
}

.cell {     
    padding: 3px 10px;    
}










 