* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--background-color);
}

.fluid_container {
    width: 100%;

}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full_image {
    width: 100%;
    height: 100%;
    display: block;
}

section {
    padding-top: 2em;
    padding-bottom: 2rem;
}

:root {
    --primary-font: "Poppins";
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Lato";
    --primary-color: #066A68;
    --secondary-color: #034645;
    --third-color: #FEDA79;
    --fifth-color: #F0F1EC;
    --fourth-color: #9A8254;
    --background-color: #F2F2F2;
    --text-font-size: 1.6rem;
    --section-title-font-size: 4rem;
    --subtitle-font-size: 2.5rem;
    --bottom-font-size: 1.3rem;
    --card-border-radius: 10px;
    --button-border-radius: 20px;
}
/* =======================sidbar admin part =================================== */
.dash_admin_profile_img{
    width: 20px;
    border-radius: 50%;
    height: 20px;
    
}